@import url(reset.css);

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

/* ------------------------- */
.tail-grids {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;

}
.tail-grids__container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.tail-grids__latest-collection:not(:last-child) {
	margin-bottom: 120px;
}
.title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
	text-transform: capitalize;
	color: #3056D3;
	margin-bottom: 8px;
}
.main-title {
	text-align: center;
	margin-bottom: 15px;
}
.main-title a {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.12;
	text-align: center;
	text-transform: capitalize;
	color: #212B36;
}
.text {
	max-width: 770px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 70px;
}
.latest-collection__cards {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
}
.cards__item {
	transition: transform 0.3s ease;
}
.item-late-coll__image {
	position: relative;
	padding-bottom: 90%; /* 270/300 */
	margin-bottom: 20px;
	border-radius: 5px;
}
.item-late-coll__image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	border-radius: 5px;
}
.item-late-coll__info {
	display: grid;
	max-width: 270px;
	grid-template-columns: repeat(2, 1fr);
}

.item-late-coll__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;	
	color: #212B36;
	transition: color 0.2s ease;
	max-width: 100%;
}

.item-late-coll__price {
	font-weight: 700;
	line-height: 1.5;
	color: #3056D3;
	justify-self: end;
}
.item-late-coll__description {
	max-width: 280px;
	height: 20px;
	overflow: hidden;
}
@media (any-hover: hover) {
	.item-late-coll__title:hover {
		color: #212b3656;
	}
	.cards__item:hover{
		transform: scale(1.05);
	}
}
@media (max-width:1000px) {
	.latest-collection__cards {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(3, 1fr);
	}
	.cards__item {
		justify-self: center;
	}
}

@media (max-width:700px) {
	.title {
		font-size: 18px;
		line-height: 1.15;
		margin-bottom: 4px;
	}
	.main-title {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.text {
		line-height: 1.2;
		margin-bottom: 25px;
	}
	.latest-collection__cards {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
	.item-late-coll__title {
		font-size: 18px;
		line-height: 1.1;
		margin-bottom: 4px;
	}
	.item-late-coll__price {
		font-weight: 700;
		line-height: 1.5;
	}
}
@media (max-width:500px) {
	.latest-collection__cards {
		display: grid;
		gap: 15px;
		grid-template-columns: repeat(1, 1fr);
	}
}



/* ------------------------ */
.cards-feat-prod__content {
	margin: 0 -15px;
}
.cards-feat-prod__row {
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 30px;
}
.cards-feat-prod__row:nth-child(even) {
	flex-direction: row-reverse;
}
.row-feat-prod__item {
	max-width: 670px;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 8px;
	transition: transform 0.3s ease;
}
.row-feat-prod__item:hover {
	transform: scale(1.05);
}
.item__image {
}
.item__image img {
	border-radius: 7px 7px 0px 0px;
	height: 349px;
	max-width: 100%;
	object-fit: cover;
}
.item__image--long img {
	border-radius: 7px 7px 0px 0px;
	width: 100%;
	object-fit: content;
}

.item__info {
	padding: 30px;
}
.item__info > div:not(:last-child) {
	margin-bottom: 10px;
}
.info__description {
	display:flex;
	justify-content: space-between;
}
.info__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
	transition: color 0.3s ease;
}
.info__title:hover {
	color: rgba(99, 115, 129, 0.377);
}
.info__discount {
	font-weight: 600;
	line-height: 1.5;
	color: #3056D3;
	transition: color 0.3s ease;
}
.info__discount:not(:last-child) {
	margin-left: 325px;
}
.info__discount:hover {
	color: #3056d39f;
}
.info__main-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.25;
	color: #212B36;
}
.info__main-title a {
	transition: color 0.3s ease;
}
.info__main-title a:hover {
	color: #212b369e;
}
.info__last-price {
	display: inline-block;
	color: #B1B4B7;
	text-decoration: line-through;
}
.info__last-price:not(:last-child) {
	margin-right: 10px;
}
.info__actual-price {
	display: inline-block;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #212B36;
}
.row-feat-prod__item--minwidth {
	max-width: 470px;
}

@media (max-width: 1200px) {
	.cards-feat-prod__row {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-evenly;
	}
	.row-feat-prod__item {
		justify-self: center;
	}
	
}
@media (max-width: 950px) {
	.cards-feat-prod__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}
	.cards-feat-prod__row:not(:last-child) {
		margin-bottom: 15px;
	}
	.info__main-title {
		font-size: 1.37rem;
		height: 1.4em;
		overflow: hidden;
	}
}
@media (max-width: 750px) {
	.cards-feat-prod__row {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 15px;
		margin-bottom: 15px;
	}
	.info__main-title {
		font-size: 20px;
	}
}


/* --------------------------- */
.tail-grids__shop-by-category {
	margin-bottom: 100px;
	padding-top: 20px;
}
.shop-by-category__title {
	text-transform: capitalize;
	text-align: left;
	font-size: 36px;
	line-height: 1.25;
	margin-bottom: 14px;
	transition: color 0.3s ease;
}
.shop-by-category__title:hover {
	color: #212b368c;
}
.shop-by-category__info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: start;
}
.shop-by-category__text {
	max-width: 507px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
}

.shop-by-category__btn {
	align-self: center;
	justify-self: end;
	padding: 8px 30px;
	border: 1px solid #3056D3;
	border-radius: 4px;
	color: #3056D3;
	transition: all 0.4s ease;
}
.shop-by-category__btn:hover {
	color: #FFFFFF;
	background-color: #3056D3;
}
.cards-shop-category__item {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 70px;
}

.item-cards__content {
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 12px;
	transition: all 0.3s ease;
}
.item-cards__content:hover {
	transform: scale(1.05);
}
.item-cards__img {
	position: relative;
	padding-top: 63%; /*230/346 */
}
.item-cards__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 8px;
}
.item-cards__info {
	padding: 25px;
}
.item-cards__category {
	margin-bottom: 5px;
	transition: all 0.3s ease;
}
.item-cards__category:hover {
	transform: scale(0.9);
}
.item-cards__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;
}
.item-cards__title a {
	transition: all 0.3s ease;
}
.item-cards__title a:hover {
	color: #3056D3;
}
@media (min-width:1440px) {
	.cards-shop-category__item {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		padding-top: 100px;
	}
	.shop-by-category__text {
		font-size: 28px;
		line-height: 1.4;
	}
	.shop-by-category__title  {
		font-size: 52px;
		margin-bottom: 40px;
	}
	.shop-by-category__btn {
		padding: 10px 30px;
		font-size: 28px;
		line-height: 1.4;
	}
	.item-cards__info {
		line-height: 1.4;
		padding: 16px;
	}
	.item-cards__category {
		font-size: 24px;
	}
	.item-cards__title {
		font-size: 27px;
	}
}
@media (max-width:850px) {
	.cards-shop-category__item {
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
		padding-top: 50px;
	}
	.shop-by-category__text {
		font-size: 15px;
		line-height: 1.2;
	}
	.shop-by-category__title  {
		font-size: 32px;
		margin-bottom: 18px;
	}
	.shop-by-category__btn {
		padding: 5px 22px;
		font-size: 15px;
		line-height: 1.2;
	}
	.item-cards__info {
		line-height: 1.1;
		padding: 10px;
	}
	.item-cards__category {
		font-size: 13px;
	}
	.item-cards__title {
		font-size: 22px;
	}
}
@media (max-width:570px) {
	.cards-shop-category__item {
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		padding-top: 40px;
	}
	.shop-by-category__text {
		font-size: 14px;
		line-height: 1.2;
	}
	.shop-by-category__title  {
		font-size: 28px;
		margin-bottom: 14px;
	}
	.shop-by-category__btn {
		padding: 5px 18px;
		font-size: 14px;
		line-height: 1.2;
	}
	.item-cards__info {
		line-height: 1.1;
		padding: 10px;
	}
	.item-cards__category {
		font-size: 13px;
	}
	.item-cards__title {
		font-size: 18px;
	}
}

/* --------------------- */
.tail-grids__top-collection {
	padding-bottom: 50px;
}
.cards-top-collection__item {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
}
.item-cards-top-collection__content {
	transition: all 0.3s ease;
}
.item-cards-top-collection__content:hover {
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 12px;
	padding: 10px;
}
.content__image {
	position: relative;
   padding-bottom: 93%; /* 250/270 */
}
.content__image img {
	position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
	border-radius: 5px;
	transition: transform 0.3s ease;
}
.content__image img:hover {
	transform: scale(1.15);
}
.content__description {
	padding-top: 20px;
}
.content__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: #212B36;
	text-align: center;
}
.content__title a {
	transition: color 0.3s ease;
}
.content__title a:hover {
	color: #212b367c;
}
.content__price {
	text-align: center;
	margin-bottom: 28px;
}
.price__last {
	text-decoration: line-through;
	display: inline-block;
	margin-right: 8px;
}
.price__actual {
	display: inline-block;
	color: #212B36;
}
.content__btn {
	text-align: center;
	padding: 8px 18px;
	border: 1px solid #212B36;
	border-radius: 4px;
	width: 109px;
	margin: 0 auto;
	font-size: 14px;
	line-height: 1.42;
	transition: all 0.3s ease;
}
.content__btn:hover {
	background-color: #000000;
	color: #FFFFFF;
}
@media (max-width:1070px) {
	.content__title {
		font-size: 1rem;
		max-height: 1.2em;
		overflow: hidden;
	}
}
@media (max-width: 891.98px) {
	.top-collection__title {
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 1.15;
	}
	.top-collection__main-title {
			font-size: 26px;
			margin-bottom: 10px;
	}
	.top-collection__text {
		line-height: 1.2;
		margin-bottom: 25px;
	}
	.cards-top-collection__item {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(3, 1fr);
	}
	.content__price {
		margin-bottom: 23px;
	}
	.content__btn {
		padding: 6px 15px;
	}
}
@media (max-width: 599.98px) {
	.top-collection__title {
		margin-bottom: 10px;
		font-size: 16px;
	}
	.top-collection__text {
		font-size: 14px;
	}
	.cards-top-collection__item {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(2, 1fr);
	}
	.content__price {
		margin-bottom: 18px;
	}
	.content__btn {
		padding: 6px 13px;
	}
}
@media (max-width: 499.98px) {
	.cards-top-collection__item {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}
	.content__price {
		margin-bottom: 12px;
	}
}